 .ms-container { 
		    width: 96%;
}
.ms-container .ms-selectable li.ms-elem-selectable{
  padding: 5px 10px;
}
.ms-container .ms-selection li.ms-elem-selection {
 padding: 5px 10px;
}
.portlet.light{
	overflow:hidden;
}
.eleList{
	height:80px;
	float:left;
	margin-bottom: 15px;
	border-right:1px solid #e7ecf1;
}
.eleList dt{
	float: left;
    width: 70px;
    height: 100%;
    text-align: center;
} 
.eleList i {
    width: 0px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
} 
.eleList dt img {
    display: inline-block;
    float: none;
    vertical-align: middle;
} 
.eleList em{
	font-size:17px;
	color:#ffa73f;
}
.dt-buttons {
    margin-top: 0px!important;
    float: left!important; 
}
.col-md-ynz {
    width: 11.09%!important;
}
.portlet.light  .portlet-title  .caption {
    padding: 1px 0;
}
#echarts_line>div{
	overflow: visible!important;
}
.echarts-tooltip.zr-element{
	z-index:9999;
}
@media only screen and (min-width: 1541px) and (max-width: 1640px) {
	.eleList dt{
		width:60px;
	}	
	.eleList dt img{
		width:45px;
	}
}
@media only screen and (min-width: 1300px) and (max-width: 1540px) {
	.eleList em{
		font-size: 13px!important;
	}
	.eleList dt{
		width:40px;
	}	
	.eleList dt img{
		width:33px;
	}		
}
@media screen and (min-width: 1680px){
	.eleList em{
		font-size: 15px!important;
	}
}